<template>
  <v-container>
    <v-card
      class="mx-auto"
      color="grey-lighten-3"
    >
      <v-card-text>
        <v-text-field
          :loading="getLoadingStatus()"
          density="compact"
          variant="solo"
          label="Search templates"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          @click:append-inner="search"
          v-model="textSearch"
        />
      </v-card-text>
    </v-card>

    <v-container v-for="({id, title, body}, index) in posts" :key="index + id">
      <PostBlog  :id="id" :title="title" :body="body" />
    </v-container>

    <v-pagination
      v-model="page"
      :length="pageLength"
      :total-visible="1"
      :disabled="getLoadingStatus()"
      prev-icon="mdi-menu-left"
      next-icon="mdi-menu-right"
    />
  </v-container>
</template>

<script setup lang="ts">
import router from "../router";
import PostBlog from '../components/PostBlog.vue'
import { onMounted, ref, watch } from 'vue';
import { useApiStore} from "../stores";
import { computed } from "vue";
const { getPostsPagination, getLoadingStatus, setLoading, searchPosts } = useApiStore();

const pageInitial =  Number(router.currentRoute.value.params.page)

const posts = ref([]);
const page = ref(pageInitial);
const textSearch = ref('');

onMounted(() => {
  getPostsPagination(pageInitial).then((response) => {
    posts.value = response.data
  }).catch((error) => {
    console.error(error)
  })
})

const pageLength = computed(() => Number(router.currentRoute.value.params.page) + 1)

const search = () => {
  setLoading('on');
  searchPosts(textSearch.value, 1).then((response)=> {
    posts.value = response.data
  }).catch((error) => {
    console.error(error)
  }).finally(() => {
    setLoading('off');
  })
}

const goToBack = (newPage) => {
  page.value--
  router.push({ name: 'posts', params: { page: newPage - 1} })
};

const setPosts = (newPosts, newPage) => {
  posts.value = newPosts
  router.push({ name: 'posts', params: { page: newPage } })
};

watch(page, (newPage) => {
  setLoading('on')
  if(textSearch.value) {
    return searchPosts(textSearch.value, newPage).then(({ data }) => {
      setPosts(data, newPage);
      return data
    }).then((data) => {
      if (!data.length) {
        goToBack(newPage);
      }
    }).catch((error) => {
      console.error(error)
    }).finally(()=> {
      setLoading('off')
    })
  } else {
    return getPostsPagination(newPage).then(({ data }) => {
      setPosts(data, newPage);
      return data
    }).then((data) => {
      if (!data.length) {
        goToBack(newPage);
      }
    }).catch((error) => {
      console.error(error)
    }).finally(()=> {
      setLoading('off')
    })
  }
})
</script>

<style scoped></style>

