<template>
  <v-dialog width="500">
    <template v-slot:activator="{ props }">
      <v-btn @click="e => $emit('onClick', e.target.value)" v-bind="props" :variant="openName && 'text'"> </v-btn>
    </template>

    <template v-slot:default="{ isActive }">
      <v-card title="Dialog">
        <v-card-text>
          <v-layout v-if="!body" class="justify-center align-center">
            <v-progress-circular
              color="dark-blue"
              indeterminate
              :size="59"
              :width="6"
            >

            </v-progress-circular>
          </v-layout>
          {{ body }}
        </v-card-text>

        <v-card-actions>
          <v-spacer/>

          <v-btn
            :variant="closeName && 'text'"
            @click="isActive.value = false"
          />
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</template>
      
<script setup lang="ts">
const {openName, closeName, body} = defineProps(['openName','closeName', 'body'])
</script>
      
<style scoped></style>