<template>
  <v-dialog v-model="loading" fullscreen full-width>
    <v-layout class="justify-center align-center">
      <v-progress-circular
        color="dark-blue"
        indeterminate
        :size="59"
        :width="6"
      >
      </v-progress-circular>
    </v-layout>
  </v-dialog>
</template>
          
<script setup lang="ts">
import { ref } from 'vue'
const loading = ref(true)
</script>
          
<style scoped></style>