<template>
  <v-card
    class="mx-auto"
  >
    <v-card-text>
      <div class="text-h6 text--primary">
       {{ title }}
      </div>
      <p>adjective</p>
      <div class="text--primary">
        {{  body }}
      </div>
    </v-card-text>
    <v-card-actions>
      <BasePopup @onClick="getPostDetails" :openName="'More information'" :closeName="'close'" :body="textDetails"/>
    </v-card-actions>
  </v-card>
</template>
  
<script setup lang="ts">
import {getPostsById} from "../api";
import { ref } from 'vue'
import BasePopup from './BasePopup.vue'

const { title, id, body } = defineProps(['title', 'id', 'body' ]);

const textDetails = ref('');


const getPostDetails = async () => {
  try {
    const { data } = await getPostsById(id)
    textDetails.value = data[0].body
  } catch (error) {
    console.warn(error)
  }
}
</script>
  
<style scoped></style>