<template>
  <v-app>
    <BaseLayout>
      <RouterView />
    </BaseLayout>
  </v-app>
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router';
import BaseLayout from './layouts/BaseLayout.vue';
</script>

<style scoped></style>
