<template>
  <v-layout>
    <LoadingOverlay v-if="getLoadingStatus()"/>
    <slot />
  </v-layout>
</template>
<script setup lang="ts">
import LoadingOverlay from '../components/LoadingOverlay.vue'
import { useApiStore } from "../stores";
const { getLoadingStatus } = useApiStore();
</script>
  
<style scoped></style>